<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../CSS/Lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../CSS/Lib/fontawesome-all.css">

	<!--CUSTOM CSS-->
	<link rel="stylesheet" type="text/css" href="../CSS/Ranking-Board-Page/ranking-board-page.css">
</head>
<body>
	<div class="container-fluid" style="height: 100vh;">
		<!--PLAYER BOARD HEADER-->
		<div class="row" style="height: 16%;">
			<div class="col-lg-2">
				
			</div>

			<div class="col-lg-8" style="display: flex;justify-content: center;align-items: center">
				<p id="header-text">CPO4</p>
			</div>

			<div class="col-lg-2">
				
			</div>
		</div>
		<!--END PLAYER BOARD HEADER-->

		<!--PLAYER 1-->
		<div class="row" style="height: 21%;">
			<!--AVATAR-->
			<div class="col-lg-2">
				<img class="rk-player-avatar name-transition-zoom-in" id="rk-player-avatar-1" src="../Asset/Image/user-image-test.jpg">
			</div>

			<!--NAME-->
			<div class="col-lg-8">
				<div class="rk-main-content-area-one" id="main-content-box-1">
					<p id="rk-player-name-1" class="rk-player-name">Nguyễn Đỗ Thanh Tùng</p>
					<div class="rk-player-time-progressbar" id="rk-player-time-progressbar-1">
						<i id="time-countdown-lb-result-1" class="time-countdown-label">00:00</i>
						<div style="clear: both;"></div>
						<div class="time-progressbar-outer"> 
							<div id="time-countdown-progress-1" class="time-progressbar-inner neon-yellow"></div>
						</div>
					</div>
					<div id="rk-player-content-answer-1" class="rk-player-answer-content">
					</div>	
				</div>
			</div>

			<!--SCORE-->
			<div class="col-lg-2">
				<div class="rk-main-content-area-two">
					<div id="rk-player-score-1" class="rk-player-score text-3d">0</div>
					<div id="rk-player-time-1" class="rk-player-time text-3d">00:00</div>
				</div>
			</div>
		</div>
		<!--END PLAYER 1-->

		<!--PLAYER 2-->
		<div class="row" style="height: 21%;">
			<!--AVATAR-->
			<div class="col-lg-2">
				<img class="rk-player-avatar" id="rk-player-avatar-2" src="../Asset/Image/user-image-test.jpg">
			</div>

			<!--NAME-->
			<div class="col-lg-8">
				<div class="rk-main-content-area-one" id="main-content-box-2">
					<p id="rk-player-name-2" class="rk-player-name">Nguyễn Đỗ Thanh Tùng</p>
					<div class="rk-player-time-progressbar" id="rk-player-time-progressbar-2">
						<i id="time-countdown-lb-result-2" class="time-countdown-label">00:00</i>
						<div style="clear: both;"></div>
						<div class="time-progressbar-outer">
							<div id="time-countdown-progress-2" class="time-progressbar-inner neon-yellow"></div>
						</div>
					</div>
					<div id="rk-player-content-answer-2" class="rk-player-answer-content">
					</div>	
				</div>
			</div>

			<!--SCORE-->
			<div class="col-lg-2">
				<div class="rk-main-content-area-two">
					<div id="rk-player-score-2" class="rk-player-score text-3d">0</div>
					<div id="rk-player-time-2" class="rk-player-time text-3d">00:00</div>
				</div>
			</div>
		</div>
		<!--END PLAYER 2-->

		<!--PLAYER 3-->
		<div class="row" style="height: 21%;">
			<!--AVATAR-->
			<div class="col-lg-2">
				<img class="rk-player-avatar" id="rk-player-avatar-3" src="../Asset/Image/user-image-test.jpg">
			</div>

			<!--NAME-->
			<div class="col-lg-8">
				<div class="rk-main-content-area-one" id="main-content-box-3">
					<p id="rk-player-name-3" class="rk-player-name">Nguyễn Đỗ Thanh Tùng</p>
					<div class="rk-player-time-progressbar" id="rk-player-time-progressbar-3">
						<i id="time-countdown-lb-result-3" class="time-countdown-label">00:00</i>
						<div style="clear: both;"></div>
						<div class="time-progressbar-outer">
							<div id="time-countdown-progress-3" class="time-progressbar-inner neon-yellow"></div>
						</div>
					</div>
					<div id="rk-player-content-answer-3" class="rk-player-answer-content">
					</div>	
				</div>
			</div>

			<!--SCORE-->
			<div class="col-lg-2">
				<div class="rk-main-content-area-two">
					<div id="rk-player-score-3" class="rk-player-score text-3d">0</div>
					<div id="rk-player-time-3" class="rk-player-time text-3d">00:00</div>
				</div>
			</div>
		</div>
		<!--END PLAYER 3-->

		<!--PLAYER 4-->
		<div class="row" style="height: 21%;">
			<!--AVATAR-->
			<div class="col-lg-2">
				<img class="rk-player-avatar" id="rk-player-avatar-4" src="../Asset/Image/user-image-test.jpg">
			</div>

			<!--NAME-->
			<div class="col-lg-8">
				<div class="rk-main-content-area-one" id="main-content-box-4">
					<p id="rk-player-name-4" class="rk-player-name">Nguyễn Đỗ Thanh Tùng</p>
					<div class="rk-player-time-progressbar" id="rk-player-time-progressbar-4">
						<i id="time-countdown-lb-result-4" class="time-countdown-label">00:00</i>
						<div style="clear: both;"></div>
						<div class="time-progressbar-outer">
							<div id="time-countdown-progress-4" class="time-progressbar-inner neon-yellow"></div>
						</div>
					</div>
					<div id="rk-player-content-answer-4" class="rk-player-answer-content">
					</div>	
				</div>
			</div>

			<!--SCORE-->
			<div class="col-lg-2">
				<div class="rk-main-content-area-two">
					<div id="rk-player-score-4" class="rk-player-score text-3d">0</div>
					<div id="rk-player-time-4" class="rk-player-time text-3d">00:00</div>
				</div>
			</div>
		</div>
		<!--END PLAYER 4-->
	</div>

	<script> var $ = require('jquery');</script>
 	<script src="../JS/Lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
 	<script src="../JS/Ranking-Board-JS/Update-Players-Board.js" charset="utf-8"></script>
</body>
</html>